.word-list .functions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.word-list .functions-container .search-input {
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(101, 63, 134, 0.3);
    background-color: none;
    border-radius: 5px;
    line-height: 30px;
    color: #653f86;
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 1rem;
}

.word-list .functions-container .search-input .search-icon {
    font-size: 1.8rem;
}

.word-list .functions-container .search-input input:focus{
    border-bottom: solid 1px rgba(101, 63, 134, 0.8);
}

.word-list .functions-container .search-input input{
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    padding-left: 2%;
    font-size: 1.3rem;
    font-weight: 700;
    color: #653f86;
}

.word-list .functions-container .search-input input::-webkit-input-placeholder{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(101, 63, 134, 0.5);
}

.word-list .add-word-button {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    width: 100%;
}
.word-list .add-word-button a{
    padding: 5px;
    padding-top: 8px;
    margin: 0 10px;
    border: 0;
    background: none;
    color: #653f86;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.word-list .add-word-button a:hover {
    opacity: 0.7;
}

.word-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    margin-top: 70px;
}

.word-list article {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.word-list article strong {
    color: #653f86;
}

.word-list article p {
    font-size: 16px;
    color: #999999;
    margin-top: 5px;
    line-height: 24px;
    Word-wrap: break-Word;
}

.word-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #653f86;
    background: none;
    margin-top: 10px;
    color: #653f86;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.word-list article a:hover {
    background-color: #653f86;
    color: #ffffff;
}

.word-list .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.word-list .actions button {
    padding: 5px;
    padding-top: 8px;
    border-radius: 5px;
    margin: 0 10px;
    border: 0;
    background: #653f86;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.word-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.word-list .actions button:hover{
    opacity: 0.7;
}

.word-list .actions button[disabled]:hover {
    opacity: 0.5;
}

.word-list .actions strong {
    color: #653f86;
    font-size: 18px;
}

.word-list .delete-icon {
    float: right;
    border: none;
    background-color: #ffffff;
    color: #653f86;
    opacity: 0.7;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 20px;
}

.word-list .delete-icon:hover {
    opacity: 1;
}

.word-list .loading-spinner {
    height: 5rem;
    width: 5rem;
    margin: 13rem auto;

    border-radius: 50%;
    border: 8px solid rgba(101, 63, 134, 0.3);
    border-left-color: rgb(101, 63, 134);

    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg)}
}

.word-list .no-word-warning{
    color: #653f86;
    text-align: center;
    margin-top: 2rem;
}